       <div data-role="content" >	
                <ul data-role="listview" data-inset="true" >
                        <li data-role="list-divider" class="listTitle">移动作业演示应用</li>
                        <li data-theme="a"><a href="#!/contactIndex">联系人</a></li>
                        <li data-theme="a"><a href="#">相机</a></li>
                        <li data-theme="a"><a href="#">传感器</a></li>
                        <li data-theme="a"><a href="#">GPS</a></li>
                </ul>
        </div>
